.intro-container {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.intro-container>div:first-child {
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.intro-container>div:last-child {
    width: 100%;
}

.intro-container>div:first-child>img {
    width: 12vw;
    filter: grayscale(1) blur(2px) opacity(0.7);
}

.intro-detail-container {
    margin-top: 2rem;
    display: flex;
}

.intro-detail-container>div:first-child>ul {
    list-style: none;
}

.intro-detail-container > div:first-child>ul>li{
    line-height: 2;
}

.intro-detail-container>div:first-child>p:last-child {
    text-align: center;
    margin-top: 2rem;
    color: #522db8;
}

.intro-detail-container > div:last-child>img{
    width: 18rem;
    height: 8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
}