.site-mark{
    width: 5rem;
}

.site-title{
    font-family: "Desyrel";
    font-size: 2.5rem;
    font-weight: bold;
    color: #393535;
    user-select: none;
}

.site-title > span{
    font-family: "Dancing Script";
    font-weight: bold;
    font-size: 1.3em;
}



.footer-mark-container{
    display: flex;
    align-items: center;
}

.footer-mark-container > img{
    width: 2.5rem;
}

.footer-site-title{
    font-family: "Desyrel";
    font-size: 1.5rem;
    font-weight: bold;
    color: #393535;
    -webkit-user-select: none;
    user-select: none;
}
