.header-container{
    position: sticky;
    top: 0;
    padding: 1vh 12vw;
    border-bottom: 1px solid #a19b9b66;
    background-color: white;
}

.user-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user-container > button {
    margin-left: 1vw;
    text-transform: none ;
}

.user-container > button:first-child{
    color: black;
    border-color: grey;
}

.user-container > button:first-child:hover{
    border-color: black;
}

.user-container > button:nth-child(2){
    background-color: #1a1a1a;
}

.user-container > button:nth-child(2):hover{
    border-color: #75737d;
}